{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}

{% block PartialHead %}
    <meta name="description" content="{{ config("Ceres.meta."~metaLang~".description_home") }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_home") }}">

    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}
    </script>

    <title>{{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    {% if showDefaultHomepage == "true" %}

        {% include 'Ceres::Homepage.MarketingHomepage.twig' %}

    {% else %}
        {% block ThemeHomepage %}

            {% set homepageImageFirstSlide  = config("meingartencenter24.homepage.homepageImageFirstSlide") %}
            {% set homepageProductLinkFirstSlide  = config("meingartencenter24.homepage.homepageProductLinkFirstSlide") %}
            {% set homepageProductNameFirstSlide  = config("meingartencenter24.homepage.homepageProductNameFirstSlide") %}

            {% set homepageImageSecondSlide  = config("meingartencenter24.homepage.homepageImageSecondSlide") %}
            {% set homepageProductLinkSecondSlide  = config("meingartencenter24.homepage.homepageProductLinkSecondSlide") %}
            {% set homepageProductNameSecondSlide  = config("meingartencenter24.homepage.homepageProductNameSecondSlide") %}

            {% set homepageImageThirdSlide  = config("meingartencenter24.homepage.homepageImageThirdSlide") %}
            {% set homepageProductLinkThirdSlide  = config("meingartencenter24.homepage.homepageProductLinkThirdSlide") %}
            {% set homepageProductNameThirdSlide = config("meingartencenter24.homepage.homepageProductNameThirdSlide") %}

            {% set homeXtraLink  = config("meingartencenter24.homepage.homeXtraLink") %}
            {% set homeXtraImg  = config("meingartencenter24.homepage.homeXtraImg") %}
            {% set homeXtraText = config("meingartencenter24.homepage.homeXtraText") %}

            {% set seotext = services.category.get(config("meingartencenter24.Homepage.seotextID"), lang) %}        

            {% set category1 = services.category.get(config("meingartencenter24.homepage.homepageCategory1"), lang) %}
            {% set category2 = services.category.get(config("meingartencenter24.homepage.homepageCategory2"), lang) %}

            {% set paginatedCategoryList1 =
            services.itemLoader.loadForTemplate(
            'Ceres::ItemList.ItemListView',
            itemLoaderPresets.categoryList,
            {'categoryId': category1.id, 'page':1, 'items':4, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}) %}

            {% set paginatedCategoryList2 =
            services.itemLoader.loadForTemplate(
            'Ceres::ItemList.ItemListView',
            itemLoaderPresets.categoryList,
            {'categoryId': category2.id, 'page':1, 'items':4, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}) %}

            {% set categoryList1 = paginatedCategoryList1.documents %}
            {% set categoryList2 = paginatedCategoryList2.documents %}                

            {% set homepageStaticLeftImg  = config("meingartencenter24.homepage.homepageStaticLeftImg") %}
            {% set homepageStaticLeftText  = config("meingartencenter24.homepage.homepageStaticLeftText") %}
            {% set homepageStaticLeftURL = config("meingartencenter24.homepage.homepageStaticLeftURL") %}

            {% set homepageStaticRightImg  = config("meingartencenter24.homepage.homepageStaticRightImg") %}
            {% set homepageStaticRightText  = config("meingartencenter24.homepage.homepageStaticRightText") %}
            {% set homepageStaticRightURL = config("meingartencenter24.homepage.homepageStaticRightURL") %}

            {{ component( "Ceres::ItemList.Components.ItemList") }}
            {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
            {{ component( "Ceres::Basket.Components.AddToBasket" ) }}



        <div class="home container-max">
            <div class="row">
                <div class="cmp cmp-hero">
                    <div class="hero-main">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <a class="hero-category" href="{{ homepageProductLinkFirstSlide }}">
                                        <img src="{{ homepageImageFirstSlide }}" alt="{{ homepageProductNameFirstSlide }}" class="img-fluid">
                                        <div class="carousel-caption">
                                            <h1>{{ homepageProductNameFirstSlide }}</h1>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="hero-category" href="{{ homepageProductLinkSecondSlide }}">
                                        <img src="{{ homepageImageSecondSlide }}" alt="{{ homepageProductNameSecondSlide }}" class="img-fluid">
                                        <div class="carousel-caption">
                                            <h1>{{ homepageProductNameSecondSlide }}</h1>
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="hero-category" href="{{ homepageProductLinkThirdSlide }}">
                                        <img src="{{ homepageImageThirdSlide }}" alt="{{ homepageProductNameThirdSlide }}" class="img-fluid">
                                        <div class="carousel-caption">
                                            <h1>{{ homepageProductNameThirdSlide }}</h1>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>

                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Zurück</span>
                            </a>

                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Nächste</span>
                            </a>

                        </div>
                    </div>


                    <div class="hero-xtras">
                        <a class="hero-category" href="{{ homeXtraLink }}">
                            <img src="{{ homeXtraImg }}" alt="{{ homeXtraText }}">
                            <div class="hero-category-inner">
                                <h2 class="hero-category-headline"> {{ homeXtraText }} </h2>

                            </div>
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="m-y-3 clearfix">
                    {% autoescape false %}
                        {{ seotext.details[0].description }}
                    {% endautoescape %}
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-header">
                        <h4><a href="{{ services.category.getURL(category1, lang) }}">{{ category1.details[0].name }}</a></h4>
                        <a href="{{ services.category.getURL(category1, lang) }}" class="section-link-all">{{ trans("Ceres::Template.homepageShowAll") }}</a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12">                    
                    <ul class="product-list row grid">
                        {% for item in categoryList1 %}
                            <li class="col-xs-12 col-sm-6 col-md-3">
                                {% include "meingartencenter24::Category.Item.Partials.CategoryListItem" with { 'item': item, enableCarousel: false, 'tags': item.data.tags, 'showOrderProperties': false } %}
                            </li>
                        {% endfor %}
                    </ul>                
                </div>
            </div> 


            <div class="row m-b-2">
                <div class="col-xs-12 col-sm-4 m-b-1">
                    <h4 class="static-headline">{{ homepageStaticLeftText }}</h4>
                    <a href="{{ homepageStaticLeftURL }}">
                        <img src="{{ homepageStaticLeftImg }}" class="img-fluid" alt="{{ homepageStaticLeftText }}">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8 m-b-1">
                    <h4 class="static-headline">{{ homepageStaticRightText }}</h4>
                    <a href="{{ homepageStaticRightURL }}">
                        <img src="{{ homepageStaticRightImg }}" class="img-fluid" alt="{{ homepageStaticRightText }}">
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="section-header">
                        <h4><a href="{{ services.category.getURL(category2, lang) }}">{{ category2.details[0].name }}</a></h4>
                        <a href="{{ services.category.getURL(category2, lang) }}" class="section-link-all">{{ trans("Ceres::Template.homepageShowAll") }}</a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12">                    
                    <ul class="product-list row grid">
                        {% for item in categoryList2 %}
                            <li class="col-xs-12 col-sm-6 col-md-3">
                                {% include "meingartencenter24::Category.Item.Partials.CategoryListItem" with { 'item': item, enableCarousel: false, 'tags': item.data.tags, 'showOrderProperties': false } %}
                            </li>
                        {% endfor %}
                    </ul>                
                </div>
            </div>  
            
        </div>

        {% endblock %}
        
    {% endif %}

{% endblock %}