{% extends getPartial('page-design') %}
{% import "Ceres::Checkout.Macros.Address" as address %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.orderConfirmation") }} | {{ config("Ceres.header.company_name") }}</title>

    <!-- EXTENDED FOR TRACKING (Tracking-Pixel - Compo) BY NICOLAS WILLIMEK & SIMON SEIDEL -->
    {% set query = "" %}
    {% set index = 0 %}
    {% set referrerID = config("meingartencenter24.tracking.refererID") %}
    {% set OrderConfirmationItemProducerID = config("meingartencenter24.tracking.OrderConfirmationItemProducerID") %}
    {% set itemIDs = "" %}
    {% for item in data.order.orderItems %}
        {% if item.itemVariationId > 0 %}
            
            {% if referrerID == item.referrerId %}
            {# 
            if (
            $_item->OrderConfirmationItemProducerID == 6 && $_confirm->ReferrerID == referrerID || 
            $_item->OrderConfirmationItemProducerID == 4 && $_confirm->ReferrerID == referrerID || 
            $_item->OrderConfirmationItemProducerID == 9 && $_confirm->ReferrerID == referrerID) 
            %}
                {% set query = query ~ '&ean[' ~ index ~ ']=' ~ $_item->OrderConfirmationItemEAN ~ '&sale[' ~ index ~ ']=' ~ $_item->OrderConfirmationItemQuantity ~ '&price[' ~ index ~ ']='~ $_item->OrderConfirmationItemPrice %}
            {% endif #}
                {% set query = query ~ '&ean[' ~ index ~ ']=' ~ "00000000" ~ '&sale[' ~ index ~ ']=' ~ item.quantity ~ '&price[' ~ index ~ ']='~ item.amounts.priceGross %}
                {% set index = index + 1 %}
                {% set itemIDs = itemIDs ~ item.itemVariationId ~ "," %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set src = 'http://www.commerce-connector.com/tracking/tracking.gif?shop=0RuEPt1za1uX1sxiKTLyjZefDQ4Py9g0' %}
    {% if query|length %}
        <img height="1" width="1" border="0" alt="" src="'{{ src }}{{ query }}'"/>
    {% endif %}

    <!-- Google Code for Einkauf Conversion Page (Std Konto) -->
    {% set priceNet = 0 %}
        {# data.order.priceNet /(119)*100 %} #}
    <script type="text/javascript">
    var google_conversion_id = 992652525;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_currency = "EUR";
    var google_conversion_label = "fnbDCPOL5gcQ7dmq2QM";
    var google_conversion_value =  {{ priceNet }}
    var google_remarketing_only = false; 
    </script> 

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>

    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/992652525/?value={{ priceNet }}&amp;currency_code=EUR&amp;label=fnbDCPOL5gcQ7dmq2QM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

<!-- Facebook Conversion Tracker TrafficDesign -->
<script>

    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '843800752364834'); /* Code TrafficDesign */
    fbq('init', '196753834012741'); /* Code Compo */
    fbq('track', "PageView");
    fbq('track', 'Purchase', {
    content_ids: [{{ itemIDs }}],
    content_type: 'product',
    value:  {{ priceNet }}, 
  currency: 'EUR'
  
});</script>

<!-- Facebook Conversion Tracker TrafficDesign END -->

{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::MyAccount.Components.ChangePaymentMethod" ) }}

    {% set overrideConfirmation = LayoutContainer.show("Ceres::OrderConfirmation.Override") %}

    {% if overrideConfirmation|trim is empty %}
        <div class="page-content myaccount container-max m-b-3 m-t-1 p-b-3">
            <div class="row m-b-3">
                <div class="col-xs-12">
                    <h1 class="h2">{{ trans("Ceres::Template.generalThanks") }}</h1>
                    <p>{{ trans("Ceres::Template.orderWillBeProcessed") }}</p>
                </div>
            </div>

            {% include "Ceres::Checkout.OrderDetails" with { orderData: data } %}

            <hr>
            <div class="row">
                {% set loggedIn = frontend.Account.getIsAccountLoggedIn %}
                <div class="col-xs-6 col-md-4 {% if loggedIn %}offset-md-2{% else %}offset-xs-3 offset-md-4{% endif %}">
                    <a v-waiting-animation-infinite href="/" type="" class="btn btn-primary btn-block bg-primary">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.generalHomepage") }}
                    </a>
                </div>


                {% if loggedIn %}
                    <div class="col-xs-6 col-md-4">
                        <a v-waiting-animation-infinite href="/my-account" type="" class="btn btn-primary btn-block bg-primary">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.accMyAccount") }}
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>
    {% else %}
        {{ overrideConfirmation }}
    {% endif %}
            
    {{ LayoutContainer.show("Ceres::OrderConfirmation.BeforeOrderDetails", data.order) }}
    
    <div class="debug">{{ data }}</div>
{% endblock %}
