{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set brand1URL  = config("meingartencenter24.brands.brand1URL") %}
            {% set brand1Img  = config("meingartencenter24.brands.brand1Img") %}
            {% set brand1Text  = config("meingartencenter24.brands.brand1Text") %}

            {% set brand2URL  = config("meingartencenter24.brands.brand2URL") %}
            {% set brand2Img  = config("meingartencenter24.brands.brand2Img") %}
            {% set brand2Text  = config("meingartencenter24.brands.brand2Text") %}

            {% set brand3URL  = config("meingartencenter24.brands.brand3URL") %}
            {% set brand3Img  = config("meingartencenter24.brands.brand3Img") %}
            {% set brand3Text  = config("meingartencenter24.brands.brand3Text") %}

            {% set brand4URL  = config("meingartencenter24.brands.brand4URL") %}
            {% set brand4Img  = config("meingartencenter24.brands.brand4Img") %}
            {% set brand4Text  = config("meingartencenter24.brands.brand4Text") %}

            {% set brand5URL  = config("meingartencenter24.brands.brand5URL") %}
            {% set brand5Img  = config("meingartencenter24.brands.brand5Img") %}
            {% set brand5Text  = config("meingartencenter24.brands.brand5Text") %}

            {% set brand6URL  = config("meingartencenter24.brands.brand6URL") %}
            {% set brand6Img  = config("meingartencenter24.brands.brand6Img") %}
            {% set brand6Text  = config("meingartencenter24.brands.brand6Text") %}

            {% set brand7URL  = config("meingartencenter24.brands.brand7URL") %}
            {% set brand7Img  = config("meingartencenter24.brands.brand7Img") %}
            {% set brand7Text  = config("meingartencenter24.brands.brand7Text") %}

            {% set brand8URL  = config("meingartencenter24.brands.brand8URL") %}
            {% set brand8Img  = config("meingartencenter24.brands.brand8Img") %}
            {% set brand8Text  = config("meingartencenter24.brands.brand8Text") %}

            {% set brand9URL  = config("meingartencenter24.brands.brand9URL") %}
            {% set brand9Img  = config("meingartencenter24.brands.brand9Img") %}
            {% set brand9Text  = config("meingartencenter24.brands.brand9Text") %}

            {% set brand10URL  = config("meingartencenter24.brands.brand10URL") %}
            {% set brand10Img  = config("meingartencenter24.brands.brand10Img") %}
            {% set brand10Text  = config("meingartencenter24.brands.brand10Text") %}

            {% set brand11URL  = config("meingartencenter24.brands.brand11URL") %}
            {% set brand11Img  = config("meingartencenter24.brands.brand11Img") %}
            {% set brand11Text  = config("meingartencenter24.brands.brand11Text") %}

            {% set brand12URL  = config("meingartencenter24.brands.brand12URL") %}
            {% set brand12Img  = config("meingartencenter24.brands.brand12Img") %}
            {% set brand12Text  = config("meingartencenter24.brands.brand12Text") %}

            {% set brand13URL  = config("meingartencenter24.brands.brand13URL") %}
            {% set brand13Img  = config("meingartencenter24.brands.brand13Img") %}
            {% set brand13Text  = config("meingartencenter24.brands.brand13Text") %}

            {% set brand14URL  = config("meingartencenter24.brands.brand14URL") %}
            {% set brand14Img  = config("meingartencenter24.brands.brand14Img") %}
            {% set brand14Text  = config("meingartencenter24.brands.brand14Text") %}

            {% set brand15URL  = config("meingartencenter24.brands.brand15URL") %}
            {% set brand15Img  = config("meingartencenter24.brands.brand15Img") %}
            {% set brand15Text  = config("meingartencenter24.brands.brand15Text") %}

            {% set brand16URL  = config("meingartencenter24.brands.brand16URL") %}
            {% set brand16Img  = config("meingartencenter24.brands.brand16Img") %}
            {% set brand16Text  = config("meingartencenter24.brands.brand16Text") %}

            {% set brand17URL  = config("meingartencenter24.brands.brand17URL") %}
            {% set brand17Img  = config("meingartencenter24.brands.brand17Img") %}
            {% set brand17Text  = config("meingartencenter24.brands.brand17Text") %}

            {% set brand18URL  = config("meingartencenter24.brands.brand18URL") %}
            {% set brand18Img  = config("meingartencenter24.brands.brand18Img") %}
            {% set brand18Text  = config("meingartencenter24.brands.brand18Text") %}

            {% set brand19URL  = config("meingartencenter24.brands.brand19URL") %}
            {% set brand19Img  = config("meingartencenter24.brands.brand19Img") %}
            {% set brand19Text  = config("meingartencenter24.brands.brand19Text") %}

            {% set brand20URL  = config("meingartencenter24.brands.brand20URL") %}
            {% set brand20Img  = config("meingartencenter24.brands.brand20Img") %}
            {% set brand20Text  = config("meingartencenter24.brands.brand20Text") %}

            {% set brand21URL  = config("meingartencenter24.brands.brand21URL") %}
            {% set brand21Img  = config("meingartencenter24.brands.brand21Img") %}
            {% set brand21Text  = config("meingartencenter24.brands.brand21Text") %}


<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top hidden-md-up" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>


    <div class="container-fluid bckgr p-y-2">
        <div class="container-max">
            <div class="row">
                <h2 class="text-xs-center m-b-1">Unsere Marken</h2>
                <div class="owl-carousel" id="brands">
                    <div class="item">
                        <a href="{{ brand1URL }}">
                            <img src="{{ brand1Img }}" alt="{{ brand1Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand2URL }}">
                            <img src="{{ brand2Img }}" alt="{{ brand2Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand3URL }}">
                            <img src="{{ brand3Img }}" alt="{{ brand3Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand4URL }}">
                            <img src="{{ brand4Img }}" alt="{{ brand4Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand5URL }}">
                            <img src="{{ brand5Img }}" alt="{{ brand5Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand6URL }}">
                            <img src="{{ brand6Img }}" alt="{{ brand6Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand7URL }}">
                            <img src="{{ brand7Img }}" alt="{{ brand7Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand8URL }}">
                            <img src="{{ brand8Img }}" alt="{{ brand8Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand9URL }}">
                            <img src="{{ brand9Img }}" alt="{{ brand9Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand10URL }}">
                            <img src="{{ brand10Img }}" alt="{{ brand10Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand11URL }}">
                            <img src="{{ brand11Img }}" alt="{{ brand11Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand12URL }}">
                            <img src="{{ brand12Img }}" alt="{{ brand12Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand13URL }}">
                            <img src="{{ brand13Img }}" alt="{{ brand13Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand14URL }}">
                            <img src="{{ brand14Img }}" alt="{{ brand14Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand15URL }}">
                            <img src="{{ brand15Img }}" alt="{{ brand15Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand16URL }}">
                            <img src="{{ brand16Img }}" alt="{{ brand16Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand17URL }}">
                            <img src="{{ brand17Img }}" alt="{{ brand17Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand18URL }}">
                            <img src="{{ brand18Img }}" alt="{{ brand18Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand19URL }}">
                            <img src="{{ brand19Img }}" alt="{{ brand19Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand20URL }}">
                            <img src="{{ brand20Img }}" alt="{{ brand20Text }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ brand21URL }}">
                            <img src="{{ brand21Img }}" alt="{{ brand21Text }}" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-max m-t-3 m-b-1">
        <h2 class="text-xs-center m-b-1">Über meingartencenter24.de</h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>Stanze zählt seit 1872 als Gartencenter zu den traditionsreichsten Unternehmen in Deutschland.
                    2001 eröffnete Stanze in Hemmingen bei Hannover Deutschlands erstes Bellandris
                    Gartencenter. Das Erlebniskonzept hat sich innerhalb kurzer Zeit durchgesetzt und Stanze zum
                    bekanntesten und beliebtesten Gartencenter in der Region Hannover gemacht. Mehrfach wurde
                    Stanze dafür ausgezeichnet. Sehen Sie dazu auch unseren Film, indem wir unser Gartencenter
                    vorstellen.</p>
                    <p>Früh erkannte Stanze die Bedeutung des Internets auch für Gartencenter und eröffnete 2006 als
                    eines der ersten Gartencenter in Deutschland einen Online Shop mit Vollsortiment. Unter dem
                    Namen MeinGartencenter24.de wird ein riesiges Sortiment für alle Gartenliebhaber angeboten.
                    Die lange Erfahrung und die hohe Fachkompetenz spiegeln sich darin wieder.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <b>Ihre Vorteile</b>
                <ul style="list-style-image: url('{{ plugin_path('meingartencenter24') }}/images/leaf.png');">
                    <li>2% Rabatt bei Zahlung per Vorkasse</li>
                    <li>versandkostenfreie Lieferung ab 20 € Warenkorbwert</li>
                    <li>sicherer Datentransfer durch SSL-Verschlüsselung</li>
                    <li>Trusted Shops zertifiziertes Einkaufserlebnis</li>
                    <li>zertifizierter Weber Grill Partner</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid bckgr p-y-1">
        <div class="container-max">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-4 m-b-1">
                    <h5>Kontaktinformationen</h5>
                    <p><i class="fa fa-phone">&nbsp;</i> <a href="tel:+4951142038888">0511–42038888</a><br />
                    <i class="fa fa-clock-o">&nbsp;</i> Mo – Fr: 8 – 18 Uhr und Sa: 9 – 15 Uhr<br />
                    <i class="fa fa-envelope">&nbsp;</i> <a href="mailto:info@meingartencenter24.de">info@meingartencenter24.de</a></p>
                    <h5 class="m-t-1">Folge uns auf:</h5>
                    <p><i class="fa fa-facebook-square">&nbsp;</i> <a href="https://www.facebook.com/stanzegartencenter" target="_blank">Facebook</a><br />
                    <i aria-hidden="true" class="fa fa-instagram">&nbsp;</i> <a href="https://www.instagram.com/stanzegartencenter" target="_blank">Instagram</a></p>

                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 m-b-1">
                    <h5>Zahlung und Versand</h5>
                    <span class="payment">
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_paypal.svg" alt="PayPal" class="img-fluid" />
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_sofort.svg" alt="Sofort Überweisung" class="img-fluid" />
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_amazonpay.svg" alt="AmazonPay" class="img-fluid" />
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_mastercard.svg" alt="Mastercard" class="img-fluid" />
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_visa.svg" alt="Visa" class="img-fluid" />
                    </span>
                    <span class="delivery">
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_deutschepost.svg" alt="Deutsche Post" class="img-fluid" />
                        <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_dhl.svg" alt="DHL" class="img-fluid" />                        
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-4 m-b-1 brands">
                    <h5>Unsere Top Marken</h5>
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                    <img src="{{ plugin_path('meingartencenter24') }}/images/75x45.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="row info m-y-2">
                <div class="col-xs-6 col-sm-3 col-lg-2 offset-lg-2">
                    <span>Zertifizierter <br />idealo Partner</span> <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_idealo.svg" alt="Idealo" class="img-fluid idealo" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <span>Trusted Shops <br />Guarantee</span><img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_trusted.svg" alt="Trusted" class="img-fluid" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <span>BIO zertifiziert <br />nach DE-ÖKO-013</span> <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_biocertified.svg" alt="Bio zertifiziert" class="img-fluid" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <span>Zertifizierter <br />Weber Grill Partner</span> <img src="{{ plugin_path('meingartencenter24') }}/images/footer/mgc_icons_weberworld.svg" alt="Weber Grill" class="img-fluid" />
                </div>
                
            </div>
        </div>
        <div class="container-max copyright text-xs-center m-t-2">
            {% autoescape false %}
                &copy; Copyright 2018 Stanze Gartencenter GmbH | <a href="/legal-disclosure">Impressum</a> | <a href="/gtc">AGB</a> | <a href="/privacy-policy">Datenschutz</a> | <a href="/cancellation-rights">Widerrufsrecht</a> | <a href="#">Batterieentsorgung</a> | <a href="#">Giftnotdienst</a> | <a href="#">Retouren</a> | <a href="#">Über uns</a> | <a href="#">Historie</a> | <a href="#">Kontakt</a> | <a href="#">Hilfe/FAQ</a>
            {% endautoescape %}     
            <small>*Alle Preise zzgl. Versand und inkl. MwSt. / Änderungen und Irrtümer vorbehalten. Versand aus Hannover (Deutschland).</small>
        </div>
    </div>
</div>
