<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% set lang = services.sessionStorage.getLang() %}
{% set favicon = url ~ '/tpl/favicon_' ~ services.webstoreConfig.getWebstoreConfig().webstoreId ~ '.ico' %}
<link rel="icon" type="img/ico" href="{{ favicon }}">

{% set requestUrl = services.webstoreConfig.getWebstoreConfig().domainSsl ~ request.getRequestUri() %}
{% set canonicalUrl = services.url.getCanonicalURL() %}
{% set languageUrls = services.url.getLanguageURLs() %}

{% if canonicalUrl is not null %}
    <link rel="canonical" href="{{ canonicalUrl }}">
{% endif %}

{% if canonicalUrl == requestUrl %}
    {% for language, url in languageUrls %}
        <link rel="alternate" hreflang="{{language}}" href="{{url}}"/>
    {% endfor %}
{% endif %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set logData = config("Ceres.log.data")|split(', ') %}
{% set sortValues = config("Ceres.sort.data")|split(', ') %}
{% set defaultSorting = config('Ceres.sort.defaultSorting') %}
{% set defaultSortingSearch = config('Ceres.sort.defaultSortingSearch') %}
{% set rowsPerPage = config('Ceres.pagination.rowsPerPage') | split(', ') %}
{% set columnsPerPage = config('Ceres.pagination.columnsPerPage') %}
{% set itemsPerPage = rowsPerPage[0] * columnsPerPage %}
{% set performanceLevel = config('Ceres.log.performance.level') %}
{% set itemName = config('Ceres.item.name') %}
{% set currencyFormat = config("Ceres.currency.format") %}

{% if LayoutContainer.show("Ceres::Template.StyleOverwrite") | trim is empty %}
    <link rel="stylesheet" href="{{ plugin_path('Ceres') }}/css/ceres.css">
{% endif %}

{{ LayoutContainer.show("Ceres::Template.StyleOverwrite") }}

<!-- Extend the existing style with a template THEME HEAD -->
{{ LayoutContainer.show("Ceres::Template.Style") }}

<script>
    App = {
        config:
        {
            printErrors:        {% if "print_errors" in logData or "all" in logData %}true{% else %}false{% endif %},
            printSuccess:       {% if "print_success" in logData or "all" in logData %}true{% else %}false{% endif %},
            printWarnings:      {% if "print_warnings" in logData or "all" in logData %}true{% else %}false{% endif %},
            printInfos:         {% if "print_infos" in logData or "all" in logData %}true{% else %}false{% endif %},
            printStackTrace:    {% if "print_stack_trace" in logData or "all" in logData %}true{% else %}false{% endif %},
            logMessages:        {% if "log_messages" in logData or "all" in logData %}true{% else %}false{% endif %},
            defaultItemsPerPage: "{{ itemsPerPage }}",
            defaultSorting: "{{ defaultSorting }}",
            defaultSortingSearch: "{{ defaultSortingSearch }}",
            performanceLevel: "{{ performanceLevel }}",
            itemDisplayName: "{{ config("Ceres.item.displayName") }}",
            itemName: {{ itemName }},
            enabledBillingAddressFields: "{{ config("Ceres.billing_address.show") }}",
            enabledBillingAddressFieldsUK: "{{ config("Ceres.billing_address.en.show") }}",
            enabledDeliveryAddressFields: "{{ config("Ceres.delivery_address.show") }}",
            enabledDeliveryAddressFieldsUK: "{{ config("Ceres.delivery_address.en.show") }}",
            enableOldUrlPattern: "{{ config("Ceres.global.enableOldUrlPattern") }}",
            shopName: "{{ config("Ceres.header.company_name") }}",
            forwardToSingleItem: {{ config("Ceres.search.forwardToSingleItem") | default('false') }},
            activeCurrency: "{{ services.checkout.getCurrencyData()[currencyFormat] }}",
            currencyPattern: {{  services.checkout.getCurrencyPattern() | json_encode | raw }},
            basketOpenClass: {% if config("Ceres.basket.preview_type") != "right" %}"open-hover"{% else %}"open-right"{% endif %}
        },
        isCategoryView: {% if services.template.isCategory() == "1" %}true{% else %}false{% endif %},
        isCheckoutView : {% if services.template.isCheckout() == "1" %}true{% else %}false{% endif %},
        isSearch: {% if services.template.isSearch() == "1" %}true{% else %}false{% endif %},
        language: "{{ lang }}"
    };
</script>

{% set currentTemplate = services.template.getCurrentTemplate() %}
{% if services.template.isItem() == "1" %}
    {% set isItem = true %}
    {% set fb_view = "ViewContent" %}
{% else %}
    {% set isItem = false %}
    {% set fb_view = "PageView" %}
{% endif %}

{% if (currentTemplate == "tpl.confirmation") %}
    {% set fb_view = "Purchase" %}
{% elseif (services.template.isHome == "1") %}
    <meta name="google-site-verification" content="mfxvqJKX81tQeOpODgP6QlwbEU6iwIQdHWtMeP_3vdk" />
{% endif %}

<!-- Facebook Pixel Code {{ currentTemplate }} -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '843800752364834');
fbq('track', "{{ fb_view }}" );
  {% if (services.template.isMyAccount() == "0") %}
  function fb_addToCart(product_id) {
    window._fbq.push(["track", "AddToCart", { content_ids: [product_id], content_type: "product"}])
  }
  {% endif %}
</script>
<!-- DO NOT MODIFY -->

<!-- End Facebook Pixel Code -->

<!-- Google Code für ein Remarketing-Tag -->
{% if isItem == false and services.template.isCheckout() == "0" %}
    <script type="text/javascript">
    if (typeof google_tag_params == "undefined") {
      var google_tag_params = {
        ecomm_prodid: '',
        ecomm_pagetype: 'other',
        ecomm_totalvalue: 0
      };
    }
    </script>
{% endif %}

<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 992652525;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992652525/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<!-- Google Remarketing ENDE -->

<!-- BEGIN: Google Zertifizierte Händler =========================== -->
<script type="text/javascript">
  var gts = gts || [];
  gts.push(["id", "506816"]);
  gts.push(["badge_position", "BOTTOM_LEFT"]);
  gts.push(["google_base_offer_id", "ID"]);
  gts.push(["google_base_subaccount_id", "506816"]);
  gts.push(["locale", "de_DE"]);

  (function() {
    var gts = document.createElement("script");
    gts.type = "text/javascript";
    gts.async = true;
    gts.src = "https://www.googlecommerce.com/trustedstores/api/js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(gts, s);
  })();
</script>
<!-- END: Google Zertifizierte Händler =================================== -->
