{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.ShopLanguageSelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "meingartencenter24::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}

<header class="top-bar">
    <div class="top-top-bar" id="MagicMenu">
        <div class="container-fluid bckgr">
            <div class="container-max">
                <div class="row">
                    {{ LayoutContainer.show("Ceres::Header.LeftSide") }}
                    <div class="col-md-12 col-lg-6 hidden-md-down">  
                        <span class="m-r-2"><span class="m-r-2">Versandkostenfrei ab 20€ (Deutschlandweit)</span><span>2% Rabatt (Vorkasse)</span>
                    </div>          
                    <div class="col-md-12 col-lg-6">
                        <div class="row text-lg-right text-xs-center">
                            <div class="col-xs-2 col-sm-3 col-md-2 text-xs-left">
                                {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}                                
                                    <wish-list-count :init-ids="{{ services.wishList.getItemWishList() | json_encode }}"></wish-list-count>    
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-md-4 hidden-sm-down">
                                <i class="fa fa-phone">&nbsp;</i> <span> <a href="tel:+4951142038888">0511 - 42038888</a></span>
                            </div>
                            <div class="col-sm-3 col-md-3 hidden-sm-down">
                                <i class="fa fa-envelope">&nbsp;</i> <span> <a href="mailto:info@meingartencenter24.de">Kontakt</a></span>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3">
                                <ul id="controlsList" class="controls-list list-inline">
                                    <li class="list-inline-item control-user">
                                        <user-login-handler template="#vue-user-login-handler"
                                                :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
                                    </li>                
                                </ul>
                            </div>
                            <div class="col-xs-2 col-sm-3 hidden-md-up search-anicon">
                                <ul>
                                    <li class="list-inline-item control-search">
                                        <a class="anicon anicon-search-xcross" aria-label="toggle search"
                                                data-toggle="collapse" href="#searchBox"
                                                aria-expanded="{% if services.template.isSearch() %}true{% else %}false{% endif %}"
                                                aria-controls="searchBox"
                                                data-parent="#controlsList">
                                            <span class="anicon-search-item" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-4 hidden-sm-up">
                                <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler hidden-lg-up" type="button">
                                    &#9776;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-max p-y-1">        
            <div class="row">
                <div class="col-xs-7 col-sm-5">
                    <div class="brand-wrapper">
                         <a class="navbar-brand pull-sm-left" href="/">                    
                            <img alt="meingartencenter24" src="{{ plugin_path('meingartencenter24') }}/images/mgc24_Logo.svg" class="img-fluid"/>
                         </a>                     
                    </div>
                </div>
                <div class="col-sm-3 search-top hidden-sm-down m-t-1">
                    <ul>
                        <li id="searchBox2" class="cmp cmp-search-box {% if services.template.isSearch() %} in {% endif %} hidden-sm-down">
                            <item-search template="#vue-item-search"></item-search>
                        </li>                    
                    </ul>
                </div>
                <div class="col-xs-5 col-sm-4 m-t-1">
                    <div class="control-basket pull-xs-right">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                            {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                            {% endif %}

                            <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    {% include "meingartencenter24::PageDesign.Partials.Header.Navigation" %}
</header>

<!-- Invisible Header -->
<header class="top-bar spacer">
    <div class="top-top-bar">
        <div class="container-max">
            <div class="row">
                {{ LayoutContainer.show("Ceres::Header.LeftSide") }}
                <div class="col-md-12 col-lg-6 hidden-md-down">  
                    <span class="m-r-2"><span class="m-r-2">Versandkostenfrei ab 20€ (Deutschlandweit)</span><span>2% Rabatt (Vorkasse)</span>
                </div>          
                <div class="col-md-12 col-lg-6">
                    <div class="row text-lg-right text-xs-center">
                        <div class="col-xs-2 col-sm-3 col-md-2 text-xs-left">
                            {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}                                
                                <wish-list-count :init-ids="{{ services.wishList.getItemWishList() | json_encode }}"></wish-list-count>    
                            {% endif %}
                        </div>
                        <div class="col-sm-3 col-md-4 hidden-sm-down">
                            <i class="fa fa-phone">&nbsp;</i> <span> <a href="tel:+4951142038888">0511 - 42038888</a></span>
                        </div>
                        <div class="col-sm-3 col-md-3 hidden-sm-down">
                            <i class="fa fa-envelope">&nbsp;</i> <span> <a href="mailto:info@meingartencenter24.de">Kontakt</a></span>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <ul id="controlsList" class="controls-list list-inline">
                                <li class="list-inline-item control-user">
                                    <user-login-handler template="#vue-user-login-handler"
                                            :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
                                </li>                
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 hidden-md-up search-anicon">
                            <ul>
                                <li class="list-inline-item control-search">
                                    <a class="anicon anicon-search-xcross" aria-label="toggle search"
                                            data-toggle="collapse" href="#searchBox"
                                            aria-expanded="{% if services.template.isSearch() %}true{% else %}false{% endif %}"
                                            aria-controls="searchBox"
                                            data-parent="#controlsList">
                                        <span class="anicon-search-item" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4 hidden-sm-up">
                            <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler hidden-lg-up" type="button">
                                &#9776;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-max p-y-1">        
        <div class="row">
            <div class="col-xs-7 col-sm-5">
                <div class="brand-wrapper">
                     <a class="navbar-brand pull-sm-left" href="/">                    
                        <img alt="meingartencenter24" src="{{ plugin_path('meingartencenter24') }}/images/mgc24_Logo.svg" class="img-fluid"/>
                     </a>                     
                </div>
            </div>
            <div class="col-sm-3 search-top hidden-sm-down m-t-1">
                <ul>
                    <li id="searchBox2" class="cmp cmp-search-box {% if services.template.isSearch() %} in {% endif %} hidden-sm-down">
                        <item-search template="#vue-item-search"></item-search>
                    </li>                    
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 m-t-1">
                <div class="control-basket pull-xs-right">
                    <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                        {% if config("Ceres.header.basket_values") != "sum" %}
                            <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                        {% endif %}

                        <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        {% if config("Ceres.header.basket_values") != "quantity" %}
                            <span class="badge" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>        
    </div>
    {% include "meingartencenter24::PageDesign.Partials.Header.Navigation" %}
</header>



<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

<mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" current-category-id="{{ category.id }}" template="#vue-mobile-navigation"></mobile-navigation>

<div class="container-max page-header">
    <div class="row">
        <div id="searchBox" class="hidden-lg-up cmp cmp-search-box collapse {% if services.template.isSearch() %} in {% endif %}">
            <item-search template="#vue-item-search"></item-search>
        </div>
    </div>
</div>